h2.introduction {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-decoration: underline;
  color: purple;
}
p.introduction {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rosybrown

}
img.introduction {
  align-self: center;
  
}
.important {
  color: red;
}
.unimportant {
  color: blue;
}
.hamilton {
  background-color: yellow;
}
  